[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
indic-transliteration = "*"

[dev-packages]
black = "~=21.5b0"
flake8 = "~=3.9.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true #For black
