[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "~=0.3.2"
indic-transliteration = "~=2.1.0"

[dev-packages]
black = "~=21.5b0"
flake8 = "~=3.9.2"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true #For black
